@import url('https://fonts.googleapis.com/css?family=Hind');

body {
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #AAA;
  padding: 0.5rem 1rem;
}

button:hover {

}
